body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#first {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.wrapper {
    margin-top: 20px;
}

.wrapper:nth-of-type(2n) {
    background-color: pink;
    color: purple;
}